* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('http://papers.co/wallpaper/papers.co-so13-pink-peach-soft-pastel-blur-gradation-25-wallpaper.jpg');
  /* background-image: url('http://papers.co/wallpaper/papers.co-sh28-dark-pink-gremany-2016-gradation-blur-23-wallpaper.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.registration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  width: 80%;
  box-shadow: 5px 5px 10px #545454;
  border-radius: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 2px solid green; */
  padding: 2rem 0 1rem;
}

.registration_container {
  /* display: flex; */
  min-height: 600px;
}

.registration_form {
  width: 100%;
  /* border: 2px solid blue; */
  padding: 0rem 3rem;
}

.form-label {
  font-size: 1.1rem;
}
