* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffc0cb;
  color: #000000;
  height: 100vh;
}

/* #---------------------------------For dark theme */

.dark_theme {
  background-color: #000000b3;
  color: #ffffff;
}

/* #---------------------------------For dark theme */

.registration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  width: 30%;
  box-shadow: 5px 5px 10px #545454;
  border-radius: 10px;
}

.title_container {
  display: flex;
  justify-content: space-between;
}

.title_container i {
  font-size: 1.5rem;
  padding: 2.5rem 2rem 0 0;
  cursor: pointer;
}

.title {
  padding: 2rem 0 0 1rem;
}

.registration_form {
  width: 100%;
  padding: 0rem 3rem;
}

.inputs {
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  border-radius: 10px;
  outline: none;
}

/* # -----------------------------------------Captcha and button */

.captcha {
  display: flex;
}

.form-label {
  height: 45px;
  padding: 10px;
  line-height: 20px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  color: #000000;
  font-size: 1.5rem;
  width: 15rem;
  border: none;
  outline: none;
  margin-top: 2rem;
}

#captchaValue {
  height: 45px;
  padding: 10px;
  line-height: 20px;
  background-color: #d6d1d1b9;
  border-radius: 10px 0 0 10px;
  color: #000000;
  font-weight: 700;
  font-size: 2rem;
  width: 10rem;
  text-align: center;
  margin-top: 2rem;
}

#submitBtn{
  padding: .3rem .8rem;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #000000;
  color: #fff;
  border: 0;
  margin: 2rem 0;
}

/* #-------------------------------------------------- Media Query */

@media (max-width: 450px) {
  .registration_form {
    padding: 0rem 1rem;
  }

  .title,
  .title_container i {
    font-size: 1.1rem;
    padding: 2rem 1rem 0 1rem;
  }

  .form-label {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 700px) {
  .registration_form {
    padding: 1rem;
  }
}
